# Ignore everything
*

# except for the following files
!.gitignore

# except for some stuff in the .config folder
!.config
.config/*

# except for some stuff in .local/share
!.local
.local/*
!.local/share
.local/share/*

# Bash
!.bash_profile
!.bashrc

# Vim
!.vimrc

# Midnight Commander
!.local/share/applications
.local/share/applications/*
!.local/share/applications/mc.desktop
!.config/mc
.config/mc/*
!.config/mc/menu

# Compton
!.config/compton.conf

# i3
!.config/i3
!.config/i3/*

# i3blocks
!.config/i3blocks/config
!.config/i3blocks/scripts

# Custom MIME Types
!.config/mimeapps.list

# GTK
!.gtkrc-2.0
!.config/gtk-2.0
!.config/gtk-2.0/**
!.config/gtk-3.0
!.config/gtk-3.0/**

# QT
!.config/Kvantum
!.config/Kvantum/**
!.config/qt5ct
!.config/qt5ct/**

# X11
!.Xresources
!.xsession
