! URXVT CONFIG:

URxvt*cursorUnderline: 1
URxvt*cursorBlink: 1
URxvt*scrollBar: 0
URxvt*font:xft:Hack:size=8

! Chosen at terminal.sexy
! Chosen with https://github.com/thefryscorer/schemer
URxvt*foreground:   #a6c0d8
URxvt*background:   #0e2d3e
URxvt*cursorColor:  #a6c0d8
URxvt*color0:       #11384d
URxvt*color8:       #11384d
URxvt*color1:       #53402d
URxvt*color9:       #53402d
URxvt*color2:       #7d7a85
URxvt*color10:      #7d7a85
URxvt*color3:       #ac9f9b
URxvt*color11:      #ac9f9b
URxvt*color4:       #6fa0c8
URxvt*color12:      #6fa0c8
URxvt*color5:       #447eac
URxvt*color13:      #447eac
URxvt*color6:       #365c77
URxvt*color14:      #365c77
URxvt*color7:       #a6c0d8
URxvt*color15:      #a6c0d8
